@import "tailwindcss";

/* カスタム変数の定義 */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
}

/* 全体のスタイル */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
